@import url('https://fonts.googleapis.com/css?family=Lato');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Lato', sans-serif;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
header{
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.logo h1{
	font-size: 30px;
	text-transform: uppercase;
}
nav a{
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px;
	transition: 0.3s;
}
nav a:hover{
	background: #424242;
	color: white;
}
.about{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;no
	width: 100%;
	height: 550px;
	background: grey url("bg.jpg") center  no-repeat fixed;
	
	background-blend-mode: color-burn;
	color: white;
	text-transform: uppercase;
}
.about h1{
	font-size: 45px;
	text-decoration: underline;
}
.about p{
	color: white;
	font-size: 16px;
	margin: 20px;
}
.btn-more{
	text-decoration: none;
	color: white;
	outline: none;
	padding: 20px;
	border: 2px solid white;
	transition: 0.3s;
}
.btn-more:hover{
	background: rgba(255,0,0,0.5);
}
.comm{
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.comm-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	height: 400px;
	background: #6de8df;
	padding: 20px;
	margin: 20px;
	text-align: center;
	color: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.avatar{
	width: 150px;
	height: 150px;
	background: #4ca39c;
	border-radius: 50%;
	margin: 20px 0 20px 0;
}
